@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Nunito", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    color: #495057;
}

a:hover {
    color: #000;
}

li {
    list-style-type: none;
}
